<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<title>Groups</title>
	</head>
	<body>
		<div id="siteMain">
			<a class="forum" href="/index">Index</a>
			{{ $Log := .Log }}
			{{ $Own := .Own }}
			{{ if .Log}}
				<div style="float: right; padding-left: 10px"><a class="forum" href="/user/{{.Own.User.Nickname}}">{{.Own.User.Nickname}}</a></div>
				<div style="float: right"><a class="forum" href="/logout">logout</a></div>
			{{ else }}
				<div style="float: right; padding-left: 10px"><a class="forum" href="/login">login</a></div>
				<div style="float: right"><a class="forum" href="/register">register</a></div>
			{{ end }}
			<div style="float: right; padding-right: 10px"><a class="forum" href="/members">members</a></div>
			<br>
			<hr>
			<a class="basic">Groups:</a>
			<br>
			{{range .Body}}
				<a class="basic" href="/group/{{.Name}}">{{ .Name }}</a>
				{{ if $Log}}
					{{ if $Own.Group.Admin }}
						<div style="float: right"><a class="forum" href="/deletegroup/{{ .Name }}">delete group {{ .Name }}</a></div>
					{{ end }}
				{{ end }}
				<br>
			{{else}}
				<a class="info">No Groups</a>
			{{end}}
			<hr>
			{{ if $Log }}
				{{if $Own.Group.Admin }}
					<form action="/newgroup/"><button>Create new Group</button></form>
				{{end}}
			{{end}}
		</div>
	</body>
</html>
